@import '../../styles/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 10;
  margin-bottom: 25px;
  height: 13vh;

  h1 {
    cursor: pointer;
  }
  
  &__title-box {
    height: 7vh;
    min-height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 25, 41);
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 30%);
    z-index: 1;
  }
  &__title {
    font-family: 'DistantGalaxy';
    color: $yellow-app;
    font-size: 40px;
    align-self: center;
  }
  nav {
    height: 6vh;
    min-height: 50px;
  }
  &__breadcrumb {
    height: 100%;
    background-color: rgb(36, 69, 104);
    display: flex;
    list-style: none;
    margin-block: 0;
    
    &__label {
      color: rgb(147, 146, 146);
    }
    
    &__link {
      color: rgb(230, 230, 230);
    }

    &__item {
      font-weight: 800;
      align-self: center;
      display: flex;
      align-items: center;
    }
  }
  &.not-show, .not-show{
    display: none !important;
  }
}